﻿@{
    ViewBag.Title = "No tiene permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
</style>
<div class="panel">
    <div class="panel-body panel-bottom-green">
        <div class="error-page">
            <!--<h2 class="headline text-yellow"><span class="glyphicon glyphicon-warning-sign"</span></h2>-->
            <h2 class="headline text-yellow"><i class="fa fa-exclamation-triangle fa-3x"></i></h2>
            <div class="error-content">
                <h3>
                    <label class="control-label" style="font-size:19px">No tiene permisos para acceder a la operación.</label>
                    <br />
                    @*@if (!string.IsNullOrEmpty(ViewBag.control))
                        {
                            <label><b>@ViewBag.control > @ViewBag.metodo</b></label>
                        }*@
                    @*<br />*@
                    <label class="" style="font-size:15px">
                        Si crees que es un error por favor contacta al administrador del sistema.
                    </label>
                </h3>
            </div>
        </div>
    </div>
</div>