﻿@model SicoinInets.Models.Url

@{
    /**/

    ViewBag.Title = "DetailFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class=" panel-heading">
        <div class=" container-fluid">
            @if (ViewBag.mesage != null)
            {
                <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
                    @if (ViewBag.mesage.Dismissible)
                    {
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    }
                    <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
                </div>
            }

            
            @if (ViewBag.father == null)
            {
                <a href="@Url.Action("DiagramFiles","UrlsSets")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
            }
            else
            {
                <a href="@Url.Action("FileOpen","UrlsSets", new { idurl = ViewBag.father})" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>

            }
        </div>
    </div>

    <div class=" panel-body">
        <div class=" col col-md-1"></div>
        <div class=" col-md-1">
            @if (Model.sType == ".xlsx")
            {
                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-excel-o" style="font-size:60px;color:darkgreen"></i>
                </a>
            }
            else if (Model.sType == ".docx")
            {

                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-word-o" style="font-size:60px"></i>
                </a>
            }
            else if (Model.sType == ".pdf")
            {
                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-pdf-o" style="font-size:60px; color:darkred"></i>
                </a>
            }
            else if (Model.sType == ".pptx")
            {
                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-powerpoint-o" style="font-size:60px; color:darkorange"></i>
                </a>
            }
            else if (Model.sType == ".vsd")
            {
                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-excel-o" style="font-size:60px; color:rebeccapurple"></i>
                </a>
            }
            else if (Model.sType == ".mpp")
            {
                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-powerpoint-o" style="font-size:60px; color: greenyellow"></i>
                </a>
            }
            else if (Model.sType == ".png")
            {

                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-picture-o" style="font-size:60px;color:navy"></i>
                </a>
            }
            else if (Model.sType == ".jpg")
            {
                <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = Model.idUrl })">
                    <i class="fa fa-file-picture-o" style="font-size:60px; color:navy"></i>
                </a>
            }
        </div>

        @using (Html.BeginForm("UpdateFile", "UrlsSets", FormMethod.Post, new
        {
        }))
        {
            <div class=" col-md-3">

                <div hidden>
                    idUrl <input type="text" id="idurl" name="idurl" class=" form-control" value="@ViewBag.urls.idUrl" />
                </div>

                <div>
                    Nombre  <input type="text" id="sname" name="sname" class=" form-control" value="@ViewBag.urls.sName" />
                    <br />
                </div>

                <div>
                    Tipo de archivo
					<select name="idtypefile" class="form-control" id="idtypefile" required oninvalid="setCustomValidity('Seleccione un usuario que pueda ver el archivo')">
						@foreach (var item in ViewBag.typeoffiles)
						{
							if (item.IdTypeoffile == ViewBag.urls.idTypeoffile)
							{
								<option value="@item.IdTypeoffile">@item.iIdentificator @item.sName</option>
							}
						}

						<option value="">Seleccione una opcion</option>
						
						@foreach (var item in ViewBag.typeoffiles)
						{
							<option value="@item.IdTypeoffile">@item.iIdentificator @item.sName</option>
						}
					</select>
                </div>

            </div>

            <div class=" col-md-1"></div>

            <div class=" col-md-5">
                <div>
                    Permiso de visualizar
                    <a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>

                    <select name="idusers" class="form-control" id="idusers" multiple="multiple">
                        <option value="">Seleccione una opcion</option>
                        @foreach (var item in ViewBag.user)
                        {
                            <option value="@item.IdUser">@item.sName</option>
                        }
                    </select>
                    <br />
                </div>

                <div>
                    Archivos a vincular
                    <a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>

                    <select name="idfile" class="form-control" id="idfile" multiple="multiple">
                        <option value="">Seleccione una opcion</option>
                        @foreach (var item in ViewBag.fileSA)
                        {
                            <option value="@item.idUrl">@item.sName</option>
                        }
                    </select>
                    <br />
                </div>
            </div>

            <div class="col-md-6"></div>

            <div class="col-md-2">
                <button type="submit" class=" form-control btn-success">Guardar <i class="fa fa-check"></i></button>
            </div>

        }

        <div class=" col-md-6">
            <h4>Permisos</h4>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Opción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in ViewBag.permisos)
                    {
                        <tr>
                            <td>
                                @user.sName
                            </td>
                            <td>
                                <a style="color:darkred" href="@Url.Action("Deleteuser", "UrlsSets", new { idurl = ViewBag.urls.idUrl, iduser = user.IdUser })">
                                    <i class="fa fa-minus"></i> Desasociar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class=" col-md-6">
            <h4>Vinculos</h4>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Nombre del archivo
                        </th>
                        <th>
                            Opción
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var File in ViewBag.listfiles)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = File.idUrl })">
                                    @File.sName
                                </a>

                            </td>
                            <td>
                                <a style="color:darkred" href="@Url.Action("Deleterfile", "UrlsSets", new { idurl = ViewBag.urls.idUrl, idurl2 = File.idUrl })">
                                    <i class="fa fa-minus"></i> Desasociar
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
