﻿@model SicoinInets.Models.Url

@{
    ViewBag.Title = "DiagramFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.mesage != null)
{
    <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
        @if (ViewBag.mesage.Dismissible)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        }
        <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
    </div>
}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">

        </div>
    </div>

    <div class="panel-body" id="table">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        @foreach (var item in ViewBag.Folder)
                        {
                        <th>
                            <center>
                                <a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
                                    <i class="fa fa-folder" style="font-size:40px; color:#f5a081"></i>
                                </a>
                            </center>
                            <center>
                                @item.sName
                            </center>
                        </th>

                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @foreach (var item1 in ViewBag.Folder)
                        {
                            <td>
                                @foreach (var item in ViewBag.file)
                                {
                                    if (item1.idUrl == item.idUrlFather)
                                    {
                                <div class="col-md-4">
                                    <center>
                                        @if (item.sType == ".xlsx")
                                        {
                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-excel-o" style="font-size:60px;color:darkgreen" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".docx")
                                        {

                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-word-o" style="font-size:60px" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".pdf")
                                        {
                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-pdf-o" style="font-size:60px; color:darkred" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".pptx")
                                        {
                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-powerpoint-o" style="font-size:60px; color:darkorange" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".vsd")
                                        {
                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-excel-o" style="font-size:60px; color:rebeccapurple" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".mpp")
                                        {
                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-powerpoint-o" style="font-size:60px; color: greenyellow" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".png")
                                        {

                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-picture-o" style="font-size:60px;color:navy" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }
                                        else if (item.sType == ".jpg")
                                        {
                                            <a href="@Url.Action("DetailFiles", "UrlsSets", new { idurl = item.idUrl })">
                                                <i class="fa fa-file-picture-o" style="font-size:60px; color:navy" data-toggle="tooltip" title="@item.sName"></i>
                                            </a>
                                        }

                                        <div>
                                            @foreach (var type in ViewBag.typeoffiles)
                                            {
                                                if (type.IdTypeoffile == item.idTypeoffile)
                                                {
                                                    @type.iIdentificator

                                                }

                                            }

                                        </div>

                                    </center>
                                </div>

                                    }
                                }

                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

@section scripts{
    
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    
    
    }
