﻿@model SicoinInets.Models.Process

@{
    ViewBag.Title = "EditPermiss";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class=" panel-heading">
        <div class=" container-fluid">
            <div class="col-md-12">

                @if (ViewBag.mesage != null)
                {
                    <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
                        @if (ViewBag.mesage.Dismissible)
                        {
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        }
                        <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
                    </div>
                }

                <div class="col-md-10">
                    <h4>Editar permisos</h4>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("FileOpen","UrlsSets", new { idurl = ViewBag.father })" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class=" col-md-2"></div>
        <div class="col-md-8">
            @using (Html.BeginForm("EditPermiss", "UrlsSets", FormMethod.Post, new
            {
            }))
            {
                <div hidden>
                    idUrl <input type="text" id="idurl" name="idurl" class=" form-control" value="@ViewBag.urls.idUrl" />
                </div>

                <div>
                    Nombre  <input type="text" id="sname" name="sname" class=" form-control" value="@ViewBag.urls.sName" required oninvalid="setCustomValidity('Escriba el nombre de la carpeta')"
                                    oninput="setCustomValidity('')" />
                    <br />
                </div>

                <div>
                    Permiso a visualizar
                    <a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>

                    <select name="iduser" class="form-control" id="iduser" multiple="multiple">
						<option value="0" selected>Seleccione un usuario</option>
                        @foreach (var item in ViewBag.user)
                        {
                            <option value="@item.IdUser">@item.sName</option>
                        }
                    </select>
                    <br />
                </div>

                <div class="col-md-2">
                    <button type="submit" class=" form-control btn-success">Guardar <i class="fa fa-check"></i></button>
                </div>
            }

            <div class=" col-md-12">
                <br />
            </div>

            <div class="table-responsive col-md-10">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Usuario
                            </th>
                            <th>
                                Opción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.permisos)
                        {
                            <tr>
                                <td>
                                    @item.sName
                                </td>
                                <td>
                                    <a style="color:darkred" href="@Url.Action("Deleteuser", "UrlsSets", new { idurl = ViewBag.urls.idUrl, iduser = item.IdUser})">
                                        <i class="fa fa-minus"></i> Desasociar
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#send").click(function () {
            var idurl = $("#IdUrl").val();
            var iduser = $("#iduser").val();

            if (iduser == "" || iduser == " ") {
                f_message("¡Alerta! Selecciona un perfil", "danger")
            }
            console.log(iduser);

            $.ajax({
                type: "POST",
                url: "/UrlsSets/EditPermiss",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { idurl, iduser },
                success: function (d) {
                    location.reload();
                }
            })
        });
    </script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

}
