﻿@model IEnumerable<SicoinInets.Models.Url>

@{
    ViewBag.Title = "Carpetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class=" container-fluid">
            
        </div>
    </div>

    <div class="panel-body">
        <div class="row" data-target="#navbarColor01" aria-controls="navbarColor01">
            
            @foreach (var item in Model)
            {
            <div class="col-md-2">
                <center>
                    <a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
                        <i class="fa fa-folder" style="font-size:60px; color:#F5DA81"></i>
                    </a>
                    <div>
                        @item.sIdentity @item.sName
                    </div>
                </center>
                <br />
            </div>
            }
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(".abrir").on("click", function () {
            $("#modal1").modal("show");
        });

        $(".abrir2").on("click", function () {
            $("#modal2").modal("show");
        });

    </script>

    <script>
        $("#idurl").click(function () {

            var iduser = $("#iduser").val();

            console.log(iduser);

            $.ajax({
                type: "POST",
                url: "/Generic/setidurl",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { iduser },
                success: function (d) {
                    location.reload();
                }
            })

        });
    </script>

}