﻿@model IEnumerable<SicoinInets.Models.Url>
@{
    ViewBag.Title = "Carpetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.mesage != null)
{
    <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
        @if (ViewBag.mesage.Dismissible)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        }
        <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
    </div>
}


<div class="panel panel-default">

    <div class="panel-heading">
        <div class=" container-fluid">
            <div>
                <ol class=" breadcrumb">
                    <li>
                        @Session["sIdentity"]
                    </li>
                </ol>
            </div>

            @if (ViewBag.father == 0)
            {
            }
            else
            {
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("FileOpen", "UrlsSets", new { idurl = ViewBag.father })'">
                        <i class="glyphicon glyphicon-menu-left"></i>
                        Regresar
                    </button>

                    <button type="button" class="abrir btn btn-primary">
                        <i class="glyphicon glyphicon-save"></i>
                        Cargar archivo
                    </button>

                    <button type="button" class="abrir2 btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>
                        Nueva carpeta
                    </button>
                </div>

                <div class="col-md-6">
                    @using (Html.BeginForm("Search", "UrlsSets", FormMethod.Get))
                    {
                        <div class=" col-md-4">
                            Buscar:<input name="text" type="text" id="text" class="form-control" required oninvalid="setCustomValidity('Escriba el nombre a buscar')"
                                          oninput="setCustomValidity('')" />
                        </div>
                        <div class="col-md-2">
                            <br />
                            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Buscar</button>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
            @foreach (var item in ViewBag.urls)
            {
                if (item.bActive == true)
                {
            <div class="col-md-3">
                <div hidden>
                    @item.idUrl
                </div>
                <div>
                    @item.sIdentity @item.sName
                </div>
                @if (item.sType == "Folder")
                {
                    <a href="@Url.Action("FileOpen", "UrlsSets", new { idurl = item.idUrl })">
                        <i class="fa fa-folder" style="font-size:60px; color:#F5DA81"></i>
                    </a>
                }
                else if (item.sType == ".xlsx")
                {
                    <i class="fa fa-file-excel-o" style="font-size:60px;color:darkgreen"></i>
                }
                else if (item.sType == ".docx")
                {
                    <i class="fa fa-file-word-o" style="font-size:60px; color:cornflowerblue"></i>
                }
                else if (item.sType == ".pdf")
                {
                    <i class="fa fa-file-pdf-o" style="font-size:60px; color:darkred"></i>
                }
                else if (item.sType == ".pptx")
                {
                    <i class="fa fa-file-powerpoint-o" style="font-size:60px; color:darkorange"></i>
                }
                else if (item.sType == ".vsd")
                {
                    <i class="fa fa-file-excel-o" style="font-size:60px; color:rebeccapurple"></i>
                }
                else if (item.sType == ".mpp")
                {
                    <i class="fa fa-file-powerpoint-o" style="font-size:60px; color: greenyellow"></i>
                }
                else if (item.sType == ".png")
                {
                    <i class="fa fa-file-picture-o" style="font-size:60px;color:navy"></i>
                }
                else if (item.sType == ".jpg")
                {
                    <i class="fa fa-file-picture-o" style="font-size:60px; color:navy"></i>
                }



                @if (item.idUrlFather == 0)
                {
                }
                else
                {
                    <div class="align-items-md-center">
                        <a style="color:darkred" href="@Url.Action("Delete", "UrlsSets", new { id = item.idUrl })"
                           class="Deleter">
                            <i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Eliminar"></i>
                        </a>|
                        @if (item.sType == "Folder")
                        {

                        }
                        else
                        {
                            <a href="@Url.Action("DowFile", "UrlsSets", new { id = item.idUrl })">
                                <i class="glyphicon glyphicon-download" data-toggle="tooltip" title="Descargar archivo"></i> |
                            </a>

                        }
                        <a href="@Url.Action("EditPermiss", "UrlsSets", new { idurl = item.idUrl })">
                            <i style="color:green" class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Editar permisos"></i>
                        </a>
                    </div>
                }
            </div>
                }
            }
        </div>
    </div>

    <div class="modal " tabindex="-1" role="dialog" id="modal1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Cargar archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("UploadFile", "UrlsSets", FormMethod.Post, new
                {
                    enctype = "multipart/form-data",
                    @id = "uploadfile"
                }))
                {
                    <div class="modal-body">

                        Cargar archivos :
                        <input name="file" type="file" id="file" required />
                        <br />
                        Nombre :
                        <input name="name" type="text" id="name" class="form-control" required oninvalid="setCustomValidity('El campo nombre es obligatorio')"
                               oninput="setCustomValidity('')" />
                        <br />
                        Tipo de archivo :
                        <input name="typefile" type="text" id="typefile" class="form-control" required oninvalid="setCustomValidity('El campo tipo de archivo es obligatorio')"
                               oninput="setCustomValidity('')" />
                        <br />
                        Permiso de visualizar
                        <a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>

                        <select name="iduser" class="form-control" id="idUser" multiple="multiple" required oninvalid="setCustomValidity('Seleccione un usuario que pueda ver el archivo')">
                            @foreach (var item in ViewBag.user)
                            {
                                <option value="@item.IdUser">@item.sName</option>
                            }
                        </select>
                        <br />
                        <button type="submit" class=" form-control btn-success">Guardar <i class="fa fa-check"></i></button>

                    </div>
                }

            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Crear carpeta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div>
                        Nombre del carpeta: <input type="text" id="Namefolder" class=" form-control" required oninvalid="setCustomValidity('El campo nombre carpeta es obligatorio')"
                                                   oninput="setCustomValidity('')" />
                        <br />
                        Permiso de visualizar
                        <a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>

                        <select name="iduser" class="form-control" id="iduser" multiple="multiple" required oninvalid="setCustomValidity('Seleccione un usuario que pueda ver la carpeta')">
                            @foreach (var item in ViewBag.user)
                            {
                                <option value="@item.IdUser">@item.sName</option>
                            }
                        </select>
                        <br />
                        <button type="submit" class="btn-success form-control" id="send">Guardar <i class="fa fa-check"></i></button>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

@section scripts{

    <script>
        $(".Deleter").click(function (event) {
            if (!confirm("¿Está seguro que quiere eliminar?")) {
                event.preventDefault();
            }
        });

        $(".abrir").on("click", function () {
            $("#modal1").modal("show");
        });

        $(".abrir2").on("click", function () {
            $("#modal2").modal("show");
        });

    </script>

    <script>
        $("#send").click(function () {
            var name = $("#Namefolder").val();
            var iduser = $("#iduser").val();

            if (name == "" || name == " ") {
                f_message("¡Alerta! Escribir el nombre de la carpeta", "danger");
            }
            if (iduser == "" || iduser == " ") {
                f_message("¡Alerta! Selecciona un perfil", "danger")
            }

            console.log(name);

            $.ajax({
                type: "POST",
                url: "/UrlsSets/CreateFolder",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: { name, iduser },
                success: function (d) {
                    location.reload();
                }
            })

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#send').click(function () {
                // Recargo la página
                location.reload();
            });
        });
    </script>

    <script>
        $("#uploadfile").on("submit", function (e) {

            var archivo = $("#file").val();
            var file = $("#file").get(0).files;
            var size = file[0].size; // bytes
            var notifi = "¡Alerta!".bold();

            var name = $("#name").val();

            console.log(archivo)

            extensionesPermitidas = new Array(".pdf", ".xlsx", ".txt", ".docs");

            if (name == "") {
                f_message(notifi + " Escriba el nombre del archivo", "danger");
            }

            if (!archivo) {
            }
            else {
                extension = (archivo.substring(archivo.lastIndexOf("."))).toLowerCase();
                permitida = false;

                for (var i = 0; i < extensionesPermitidas.length; i++) {
                    if (extensionesPermitidas[i] == extension) {
                        permitida = true;
                        break;
                    }
                }
                if (!permitida) {
                    f_message(notifi + " Comprueba la extensión de los archivos a subir. \nSólo se pueden subir archivos con extension: " + extensionesPermitidas.join(), "danger");
                    e.preventDefault();
                } else if (Checksize(file) == -1) {
                    f_message(notifi + " Comprueba que el archivo no sea mayor de 2MB", "danger");
                    e.preventDefault();
                }
            }
        });
    </script>
}
