﻿@model IEnumerable<SicoinInets.Models.Url>

@{
    ViewBag.Title = "Threefile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.mesage != null)
{
    <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
        @if (ViewBag.mesage.Dismissible)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        }
        <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
    </div>
}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">

        </div>
    </div>
 
    <div class="panel-body" id="table">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        @foreach (var item in ViewBag.father)
                        {
                            <th>
                                <center>
									<div>
										@if (item.sIdentity == "01")
										{
											<a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
												<i class="fa fa-users" style="font-size:40px; color:#fe9400"></i><span class="sr-only"></span>
											</a>
										}
										else if (item.sIdentity == "02")
										{
											<a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
												<i class="fa fa-warning" style="font-size:40px; color:#fe9400"></i><span class="sr-only"></span>
											</a>
										}
										else if (item.sIdentity == "03")
										{
											<a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
												<i class="fa fa-tasks" style="font-size:40px; color:#fe9400"></i><span class="sr-only"></span>
											</a>
											<a href="@Url.Action("DiagramFiles","UrlsSets")" data-toggle="tooltip" title="Diagrama de archivos">
												<i class="fa fa-share-alt" style="font-size:40px; color:#00fe94"></i><span class="sr-only"></span>
											</a>
										}
										else if (item.sIdentity == "04")
										{
											<a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
												<i class="fa fa-laptop" style="font-size:40px; color:#fe9400"></i><span class="sr-only"></span>
											</a>
										}
										else if (item.sIdentity == "05")
										{
											<a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = item.idUrl})">
												<i class="glyphicon glyphicon-search" style="font-size:40px; color:#fe9400"></i><span class="sr-only"></span>
											</a>
										}

									</div>
                                    <div>
                                        @item.sName
                                    </div>
                                </center>
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        @for (int x = 1; x <= 5; x++)
                        {
                            <td>
                                @foreach (var items in ViewBag.child)
                                {
                                    if (Convert.ToUInt16(items.sIdentity) == x)
                                    {
                                        if (items.idUrlFather == 0)
                                        {

                                        }
                                        else
                                        {
                                            if (items.bActive == true)
                                            {
                                                <center>
                                                    <div>
                                                        <a id="idurl" href="@Url.Action("FileOpen","UrlsSets", new { idurl = items.idUrl})">
                                                            <i class="fa fa-folder" style="font-size:40px; color:#006afe"></i>
                                                        </a>
                                                    </div>
                                                    <div>
                                                        @items.sName
                                                    </div>
                                                    <br />
                                                </center>

                                            }
                                        }
                                    }
                                }
                            </td>
                        }
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>

}
