﻿@model SicoinInets.Models.UserSet
@{
    ViewBag.Title = "Inicio de sesión";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Inicio de sesión</strong></h3>
                </div>
                <div @*style="background-color:#708090"*@ panel-body">
                    <br />
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-5">
                            <i class="fa fa-user"></i> Usuario
                        </div>
                        <div class="col-md-7">
                            <input type="text" id="User" name="suser" class="form-control" />
                        </div>
                        <br />
                        <br />
                        <div class="col-md-5">
                            <i class="fa fa-key"></i> Contraseña
                        </div>
                        <div class="col-md-7">
                            <input type="password" id="Key" name="skey" class=" form-control" />
                        </div>
                        <br />
                        <br />
                        <center>
                            <button type="submit" class="btn btn-success"><i class="fa fa-key"></i> Ingresar</button>
                        </center>
                        <br />

                        if (ViewBag.mesage != null)
                        {
                            <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                            {
                                @Html.Raw("alert-dismissible")
                            } " role="alert">
                                @if (ViewBag.mesage.Dismissible)
                                {
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                }
                                <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
                            </div>
                        }
                    }
                </div>
            </div>
        </div>

    </div>
</div>
