﻿@model SicoinInets.Models.EmailSetting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class=" row">
				<h4>Nueva configuracion de correo</h4>

				<div class="col-md-2">
					<a href="@Url.Action("Index","Email")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-body">

		<div class="col-md-2"></div>
		<div class="col-md-8">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group">
						@Html.LabelFor(model => model.sHost, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sHost, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba una host" } })
							@Html.ValidationMessageFor(model => model.sHost, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sPort, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sPort, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba el puerto" } })
							@Html.ValidationMessageFor(model => model.sPort, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sUserName, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sUserName, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba su usuario" } })
							@Html.ValidationMessageFor(model => model.sUserName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sPassword, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba la contraseña" } })
							@Html.ValidationMessageFor(model => model.sPassword, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Guardar" class="btn btn-success" />
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
