﻿@model SicoinInets.Models.EmailSetting

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="row">
				<h4>Editar SMTP</h4>
				<div class="col-md-2">
					<a href="@Url.Action("Index","Email")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
				</div>
			</div>
		</div>
	</div>

	@if (ViewBag.mesage != null)
	{
		<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
{
                                @Html.Raw(" alert-dismissible")
} " role="alert">
			@if (ViewBag.mesage.Dismissible)
			{
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			}
			<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
		</div>
	}

	<div class="panel-body">
		<div class="col-md-2"></div>
		<div class="col-md-8">

			@using (Html.BeginForm("Edit", "Email",FormMethod.Post, new { id = "myform" }))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<hr />
					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group" hidden>
						@Html.LabelFor(model => model.idEmailSetting, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10" hidden>
							<input type="text" name="idEmailSetting" id="idEmailSetting" class="form-control" value="@Model.idEmailSetting" />
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sHost, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							<input type="text" name="sHost" id="sHost" class="form-control" value="@Model.sHost" />
							<!--@@Html.EditorFor(model => model.sHost, new { htmlAttributes = new { @@class = "form-control" } })-->
							<!--@@Html.ValidationMessageFor(model => model.sHost, "", new { @@class = "text-danger" })-->
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sPort, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							<input type="text" name="sPort" id="sPort" class="form-control" value="@Model.sPort" />
							<!--@@Html.EditorFor(model => model.sPort, new { htmlAttributes = new { @@class = "form-control" } })-->
							<!--@@Html.ValidationMessageFor(model => model.sPort, "", new { @@class = "text-danger" })-->
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sUserName, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							<input type="text" name="sUserName" id="sUserName" class="form-control" value="@Model.sUserName" />
							<!--@@Html.EditorFor(model => model.sUserName, new { htmlAttributes = new { @@class = "form-control" } })-->
							<!--@@Html.ValidationMessageFor(model => model.sUserName, "", new { @@class = "text-danger" })-->
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sPassword, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							<input type="password" name="sPassword" id="sPassword" class="form-control"/>
							<!--@@Html.EditorFor(model => model.sPassword, new { htmlAttributes = new { @@class = "form-control", name = "sPassword", id = "sPassword" } })-->
							<!--@@Html.ValidationMessageFor(model => model.sPassword, "", new { @@class = "text-danger" })-->
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<input type="submit" value="Guardar" class="btn btn-success" />
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(function () {
			$("#myform").validate({
				submitHandler: function (form) {
					form.submit();
				},
				rules: {
					sHost: {
						required: true,
						maxlength: 50,
						regex:/^(?!\-)(?:[a-zA-Z\d\-]{0,62}[a-zA-Z\d]\.){1,126}(?!\d+)[a-zA-Z\d]{1,63}$/,
					},
					sPort: {
						required: true,
						maxlength: 4,
						regex:/^[0-9]+$/
					},
					sUserName: {
						required: true,
						maxlength: 50,
						minlength: 8,
					},
					sPassword: {
						required: true,
						maxlength: 16,
						minlength: 8,
					},
					action: "required"
				},
				messages: {
					sHost: {
						required: "El campo contraseña es requerido",
						maxlength: "Se permite un máximo de 50 caracteres",
						regex:"Valide los caracteristicas de su dominio",
					},
					sPort: {
						required: "El campo contraseña es requerido",
						maxlength: "Se permite un máximo de 4 caracteres",
						regex:"Solo se permiten numeros ",
					},
					sUserName: {
						required: "El campo contraseña es requerido",
						maxlength: "Se permite un máximo de 50 caracteres",
						minlength: "Se permite un minimo de 8 caracteres",
					},
					sPassword: {
						required: "El campo contraseña es requerido",
						maxlength: "Se permite un máximo de 16 caracteres",
						minlength: "Se permite un minimo de 8 caracteres",
					}
				}
			});
		});
	</script>

}
<style>
	label.error {
		color: #A52A2A;
		font-weight: normal;
	}
</style>
