﻿@model IEnumerable<SicoinInets.Models.EmailSetting>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.mesage != null)
{
	<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
{
                                @Html.Raw(" alert-dismissible")
} " role="alert">
		@if (ViewBag.mesage.Dismissible)
		{
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		}
		<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
	</div>
}



<div class=" panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="col-md-12">
				<h4> Configuración de correo</h4>
				<p hidden>
					@Html.ActionLink("Nueva SMTP", "Create")
				</p>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="col-md-1">
		</div>
		<div class="table-responsive col-md-10">
			<table class="table table-striped table-hover table-bordered">
				<thead>
					<tr>
						<th hidden>
							@Html.DisplayNameFor(model => model.idEmailSetting)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.sHost)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.sPort)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.sUserName)
						</th>
						<th>Opciones</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td hidden>
								@Html.DisplayFor(modelItem => item.idEmailSetting)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.sHost)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.sPort)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.sUserName)
							</td>
							<td>
								<a href="@Url.Action("Edit", "Email", new { id = item.idEmailSetting})" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


