﻿@model SicoinInets.Models.UserSet

@{
	ViewBag.Title = "Crear nuevo usuario";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="row">
				@if (ViewBag.mesage != null)
				{
					<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
						@if (ViewBag.mesage.Dismissible)
						{
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						}
						<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
					</div>
				}

				<div class="col-md-6"><h4>Crear usuario</h4></div>
				<div class="col-md-6">
					<a href="@Url.Action("Index","User")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
				</div>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			@using (Html.BeginForm("Create", "User", FormMethod.Post, new { id = "myform2" }))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<hr />

					<div class="form-group">
						@Html.LabelFor(model => model.sName, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sName, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba el nombre de usuario" } })
							@Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sMail, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sMail, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba un correo electronico" } })
							@Html.ValidationMessageFor(model => model.sMail, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.IdProfile, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@{
								List<SelectListItem> listItems = new List<SelectListItem>();

								foreach (var profile in ViewBag.profile)
								{
									listItems.Add(new SelectListItem
									{
										Text = profile.sName,
										Value = Convert.ToString(profile.IdProfile)
									});
								}
							}

							@Html.DropDownListFor(model => model.IdProfile, listItems, "Seleccione un perfil", new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.IdProfile, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sPassword, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Escriba una contraseña", maxlenth = "16" } })
							@Html.ValidationMessageFor(model => model.sPassword, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-success">
								Guardar<i class="fa fa-check"></i>
							</button>
						</div>
					</div>

				</div>
			}
		</div>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(function () {
			$("#myform2").validate({
				submitHandler: function (form) {
					form.submit();
				},
				rules: {
					sName: {
						required: true,
						maxlength: 50,
						minlength: 2,
					},
					sMail: {
						required: true,
						email: true,
					},
					IdProfile: {
						required: true,
						valueNotEquals: "0",
					},
					sPassword: {
						required: true,
						maxlength: 16,
						minlength: 8,
					},
					action: "required"
				},
				messages: {
					sName: {
						required: "El campo nombre de usuario es requerido",
						maxlength: "Se permite un máximo de 50 caracteres",
					},
					sMail: {
						required: "El campo correo es requerido",
						email: "Verifique que el correo electronico sea correcto"
					},
					IdProfile: {
						required: "El campo perfil es requerido",
						valueNotEquals: "La selección del perfil es requerida",
					},
					sPassword: {
						required: "El campo contraseña es requerido maximo 16 caracteres",
						maxlength: "Se permite un máximo de 16 caracteres",
						minlength: "Se permite un minimo de 8 caracteres",
					},
				}
			});
		});
	</script>
}
<style>
	label.error {
		color: #A52A2A;
		font-weight: normal;
	}
</style>
