﻿@model IEnumerable<SicoinInets.Models.UserSet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 @if (ViewBag.mesage != null)
 {
<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
{
                                @Html.Raw(" alert-dismissible")
} " role="alert">
    @if (ViewBag.mesage.Dismissible)
    {
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    }
    <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
</div>
 }

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div>
                <h4>Usuarios</h4>
            </div>
            <div>
                <a href="@Url.Action("Create","User")"><i class="fa fa-plus"></i> Nuevo Usuario</a>
            </div>
        </div>
    </div>
    <div class="panel-body" id="table">
        <div class=" col-md-1">
        </div>
        <div class="table-responsive col-md-10">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Opciones
                        </th>
                        <th>
                            Trabajador
                        </th>
                        <th>
                            Correo electrónico
                        </th>
                        <th>
                            Perfil
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <a class="edit text-info" href="@Url.Action("Edit", "User", new { id = item.IdUser})" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a> |
                                <a style="color:darkred" href="@Url.Action("Delete", "User", new { id = item.IdUser})" class="Deleter" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sMail)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfileSet.sName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>


@section scripts{
    <script>
        $(".Deleter").click(function (event) {
            if (!confirm("¿Está seguro que quiere eliminar?")) {
                event.preventDefault();
            }
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('table').DataTable(
                {
                    "order": [[1, "asc"]],
                    "language":
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
        });
    </script>
}
