﻿@model SicoinInets.Models.PermissionSet

@{
    ViewBag.Title = "Editar un permiso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6"><h4>Editar permiso</h4></div>
                <div class="col-md-6">
                    <a href="@Url.Action("Index","PermissionSets")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
                </div>
            </div>
        </div>
    </div>
    <div class=" panel-body">
        @if (ViewBag.mesage != null)
        {
            <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible) { @Html.Raw("alert-dismissible") } " role="alert">
                @if (ViewBag.mesage.Dismissible)
                {
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                }
                <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
            </div>
        }
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdPermission)

                <div class="form-group">
                    @Html.LabelFor(model => model.sName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.sName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sController, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.sController, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sController, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sMethod, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.sMethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.sMethod, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
