﻿@model SicoinInets.Models.RolesSet
@{
	ViewBag.Title = "Asociar permisos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-10">
				<h4>Asignar permisos</h4>
			</div>
			<div class="col-md-2">
				<a href="@Url.Action("Index", "RolesSets")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<div class=" col-md-2"></div>
		<div class=" col-md-8">
			@using (Html.BeginForm("AddPermissions", "RolesSets", FormMethod.Post, new { @id = "Permissions" }))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group" hidden>
						@Html.LabelFor(model => model.IdRole, htmlAttributes: new { @class = "control-label col-md-2" })
						<div>
							@Html.EditorFor(model => model.IdRole, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.IdRole, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class=" control-label col-md-3">Rol</label>
						<div class="col-md-7">
							@Html.EditorFor(model => model.sName, new { htmlAttributes = new { @Value = Model.sName, @class = "form-control", @readonly = "readonly" } })
							@Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class=" control-label col-md-3">
							Seleccionar permisos
							<a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>
						</label>
						<div class="col-md-7">
							<select name="Permissions" class="form-control" id="multisel" multiple="multiple" required>
								@if (ViewBag.Per != null)
								{
									foreach (var permi in ViewBag.Per)
									{
										<option value="@permi.IdPermission">@permi.sName</option>
									}
								}
							</select>
						</div>
					</div>
					<br />
					<div class="form-group">
						@if (ViewBag.Per != null)
						{
							<div class="col-md-10">
								<button type="submit" id="save" class="btn btn-success pull-right">
									Agregar <i class="glyphicon glyphicon-plus"></i>
								</button>
							</div>
						}
					</div>
				</div>
			}
		</div>
	</div>
</div>

<div class="col-md-2"></div>
<div class=" col-md-8">
	@if (ViewBag.PerSelected != null)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="col-md-4">Permiso(s) asociado(s) al rol</div>
					<div class="col-md-8"><b class="pull-right">@ViewBag.PerSelected.Count</b></div>
				</div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class=" table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>
									Permisos asociados
								</th>
								<th>
									Opción
								</th>
							</tr>
						</thead>
						<tbody>
							@if (ViewBag.PerSelected != null)
							{

								foreach (var item in ViewBag.PerSelected)
								{

									<tr>
										<td>
											@item.sName
										</td>
										<td>
											<a href="@Url.Action("DeletePermition", "RolesSets", new { id = item.IdPermission, idrol = Model.IdRole })" class="Deleter text-danger" data-toggle="tooltip" title="Desasociar permiso"><i class="glyphicon glyphicon-minus"></i> Desasociar</a>
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	}
</div>

	@section jsslocal{
		<script>
			$(".Deleter").click(function (event) {
				if (!confirm("¿Está seguro que quiere desasociar?")) {
					event.preventDefault();
				}
			});
		</script>
		<script>
			$("#addPermissionsRol").on("submit", function (e) {
				var boton = new Boton();
				boton.disabled("#addPermissionsRol");
			});
		</script>
		<script>
			$('[data-toggle="tooltip"]').tooltip();
		</script>

	}
