﻿@model SicoinInets.Models.ProfileSet
<div>
    <form id="myform">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group" hidden>
                @Html.LabelFor(model => model.IdProfile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9" hidden>
                    @Html.EditorFor(model => model.IdProfile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdProfile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class=" control-label col-md-2">Nombre</label>
                <div class="col-md-9">
                    <input placeholder="Escribir nombre" class="form-control" name="sName" id="sName" value="@Model.sName" maxlength="50"/>
                  </div>
            </div>

            <div class="form-group">
                <label class=" control-label col-md-2">Descripción</label>
                <div class="col-md-9">
                    <textarea placeholder="Escribir descripción" name="sDescriptiion" id="sDescriptiion" class="form-control" maxlength="250" rows="8">@Model.sDescription</textarea>
                   </div>
            </div>
          
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group pull-right">
                    <button type="submit" id="updateprof" class="btn btn-success submitBtn">Actualizar <i class="glyphicon glyphicon-ok"></i></button>
                </div>
            
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("#myform").validate({
        rules: {
            sName: {
                required: true,
                maxlength: 50,
                PatternTest: /^[a-zA-ZñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜ0-9\(\)\´\,\:\.\-\/\s\&\#\!\¡\*]{1,50}$/
            },
            sDescriptiion: {
                required: true,
                maxlength: 250,
                PatternTest: /^[a-zA-ZñÑáÁéÉíÍóÓúÚäÄëËïÏöÖüÜ0-9\(\)\´\,\:\.\-\/\s\&\#\!\¡\*]{1,250}$/
            },
            action: "required"
        },
        messages: {
            sName: {
                required: "El campo nombre es requerido",
                maxlength: "El tamaño máximo es de 20",
                PatternTest: "Se permite la captura de  ( ) ´ , : . - /  & # ! ¡ con un máximo de 50 caracteres."
            },
            sDescriptiion: {
                required: "El campo descripción es requerido",
                maxlength: "El tamaño máximo es de 250",
                PatternTest: "Se permite la captura de  ( ) ´ , : . - /  & # ! ¡ con un máximo de 50 caracteres."
            },
            action: "Ingresar datos"
        },
        submitHandler: function (form) {
            var myformdata = $("#myform").serialize();
            $.ajax({
                type: "POST",
                url: "/ProfileSets/Edit",
                data: myformdata,
                success: function () {
                    $("#modal_editprof").modal("hide");
                    location.reload();
                }
            });
        }

    });
      
</script>