﻿@model SicoinInets.Models.ProfileSet
@{
    ViewBag.Title = "Asociar roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Index", "ProfileSets")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
            </div>
        </div>
    </div>

	<div class="panel-body">
		<div class=" col-md-2"></div>
		<div class=" col-md-8">
			@using (Html.BeginForm("assignRole", "ProfileSets", FormMethod.Post, new { @id = "addRols" }))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group" hidden>
						@Html.LabelFor(model => model.IdProfile, htmlAttributes: new { @class = "control-label col-md-2" })
						<div>
							@Html.EditorFor(model => model.IdProfile, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.IdProfile, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class=" control-label col-md-3">Perfil</label>
						<div class="col-md-8">
							@Html.EditorFor(model => model.sName, new { htmlAttributes = new { @Value = Model.sName, @class = "form-control", @readonly = "readonly" } })
							@Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class=" control-label col-md-3">
							Seleccionar roles
							<a style="color:black" data-toggle="tooltip" title="Para seleccionar varias opciones presione la tecla ctrl + clic"><i class="glyphicon glyphicon-question-sign"></i></a>
						</label>
						<div class="col-md-8">
							<select name="Roles" class="form-control" id="multisel" multiple required>

								@if (ViewBag.Rol != null)
								{
									foreach (var rol in ViewBag.Rol)
									{
										<option value="@rol.IdRole">@rol.sName</option>
									}
								}
							</select>
						</div>
					</div>
					<div class="form-group">
						@if (ViewBag.Rol != null)
						{
							<div class="col-md-offset-2 col-md-10">
								<button type="submit" class="btn btn-success pull-right">
									Agregar <i class="glyphicon glyphicon-plus"></i>
								</button>
							</div>
						}
					</div>
				</div>
			}
		</div>
		</div>
	</div>

<div class="col-md-2"></div>

<div class=" col-md-8">
	@if (ViewBag.RolSelected != null)
	{
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="container-fluid">
					<div class="col-md-4">Role(s) asociado(s) al perfil</div>
					<div class="col-md-8"><b class="pull-right">@ViewBag.RolSelected.Count</b></div>
				</div>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class=" table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th hidden>
									Id rol
								</th>
								<th>
									Roles asociados
								</th>
								<th>
									Opción
								</th>
							</tr>
						</thead>
						<tbody>
							@if (ViewBag.RolSelected != null)
							{
								foreach (var item in ViewBag.RolSelected)
								{

									<tr>
										<td hidden>
											@item.IdRole
										</td>
										<td>
											@item.sName
										</td>
										<td>
											<a href="@Url.Action("DeleteRol", "ProfileSets", new { id = item.IdRole, idpro = Model.IdProfile })" class="Deleter text-danger" data-toggle="tooltip" title="Desasociar rol"><i class="glyphicon glyphicon-minus"> </i> Desasociar</a>
										</td>
									</tr>

								}
							}
						</tbody>
					</table>
				</div>

			</div>
		</div>
	}
</div>



@section jsslocal {
    <script>
        $(".Deleter").click(function (event) {
            if (!confirm("¿Está seguro que quiere desasociar?")) {
                event.preventDefault();
            }
        });
    </script>
    <script>
        $(function () {
            $("#addRols").on("submit", function (e) {
                var boton = new Boton();
                boton.disabled("#addRols");
            });
        });
    </script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
}
