﻿@model SicoinInets.Models.ProfileSet

@{
    ViewBag.Title = "Nuevo perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" panel panel-default">
	<div class="panel-heading">
		<div class=" container-fluid">
			<div class="row">

				<div class="col-md-12">
					<div class="col-md-10">
						<h4>Nuevo perfil</h4>
					</div>
					<div class="col-md-2">
						<a href="@Url.Action("Index","ProfileSets")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
					</div>
				</div>

			</div>
		</div>
	</div>
	@if (ViewBag.mesage != null)
	{
		<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
			@if (ViewBag.mesage.Dismissible)
			{
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			}
			<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
		</div>
	}

	<div class="panel-body">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">

					<div class="form-group">
						@Html.LabelFor(model => model.sName, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sName, new { htmlAttributes = new { @placeholder = "Escribir nombre", @class = "form-control", @maxlength = 50 } })
							@Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sDescription, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextAreaFor(model => model.sDescription, new { @placeholder = "Escribir descripción", @class = "form-control", @maxlength = 250 })
							@Html.ValidationMessageFor(model => model.sDescription, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-success">
								Guardar<i class="fa fa-check"></i>
							</button>
						</div>
					</div>
				</div>
			}


		</div>

	</div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
