﻿@model SicoinInets.Models.ProfileSet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-10"><h4>Editar perfil</h4></div>
				<div class="col-md-2">
					<a href="@Url.Action("Index","ProfileSets")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
				</div>
			</div>
		</div>
	</div>
	@if (ViewBag.mesage != null)
	{
		<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible) { @Html.Raw("alert-dismissible") } " role="alert">
			@if (ViewBag.mesage.Dismissible)
			{
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			}
			<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
		</div>
	}
	<div class=" panel-body">

		<div class="col-md-2"></div>
		<div class="col-md-8">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">

					@Html.ValidationSummary(true, "", new { @class = "text-danger" })

					<div class="form-group" hidden>
						@Html.LabelFor(model => model.IdProfile, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-7" hidden>
							@Html.EditorFor(model => model.IdProfile, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.IdProfile, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sName, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sName, new { htmlAttributes = new { @placeholder = "Escribir nombre", @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.sDescription, htmlAttributes: new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.sDescription, new { htmlAttributes = new { @placeholder = "Escribir nombre", @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.sDescription, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-offset-2 col-md-10">
							<button type="submit" class="btn btn-success">
								Guardar<i class="fa fa-check"></i>
							</button>
						</div>
					</div>

				</div>
			}
		</div>
	</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


