﻿@model IEnumerable<SicoinInets.Models.ProfileSet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.mesage != null)
{
    <div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
        @if (ViewBag.mesage.Dismissible)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        }
        <strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
    </div>
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="col-md-12">
                <div>
                    <h4> Perfiles</h4>
                </div>
                <div>
                    <a href="@Url.Action("Create","ProfileSets")">
                        <i class="fa fa-plus"></i> Nuevo perfil
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class=" col-md-1">
        </div>
        <div class="table-responsive col-md-10">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>
                            Opciones
                        </th>
                        <th style="width:30%">
                            Perfiles
                        </th>
                        <th style="width:40%">
                            Descripción
                        </th>
                        <th>Núm. de roles</th>
                        <th>
                            Roles
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Edit", "ProfileSets", new { id = item.IdProfile})" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a> |
                                <a style="color:darkred" href="@Url.Action("Delete", "ProfileSets", new { id = item.IdProfile})" class="Deleter" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.sDescription)
                            </td>
                            <td>@item.ProfileRoles.Count()</td>
                            <td class="text-left">
                                <a href="@Url.Action("assignRole", "ProfileSets", new { id = item.IdProfile })" class="text-info" data-toggle="tooltip" title="Nuevo rol" data-path="@item.sName" data-id="@item.IdProfile">
                                    <i class="fa fa-plus"></i> Roles
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<script>
        //$(document).ready(function () {
        $('table').DataTable();
               //});
    </script>*@
@Html.Partial("_ModalEdit")
@section scripts{
    <script>

        $(".Deleter").click(function (event) {
            if (!confirm("¿Está seguro que quiere eliminar?")) {
                event.preventDefault();
            }
        });
    </script>

    <script>
        $(".edit").on("click", function () {
            var id = $(this).data("idperfil");
            console.log(id);
            $.get("/ProfileSets/Edit", { id: id })
                .done(function (data) {
                    console.log(data);
                    $("#modal_editprof").modal("show");
                    $("#mybody").html(data);
                    $("#formBaseRoutesShops").trigger("reset");
                })
                .fail(function (XHR) {
                    validateErrorJS(XHR.status);
                })
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('table').DataTable(
                {
                    "order": [[1, "asc"]],
                    "language":
                    {
                        "sProcessing": "Procesando...",
                        "sLengthMenu": "Mostrar _MENU_ registros",
                        "sZeroRecords": "No se encontraron resultados",
                        "sEmptyTable": "Ningún dato disponible en esta tabla",
                        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix": "",
                        "sSearch": "Buscar:",
                        "sUrl": "",
                        "sInfoThousands": ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        }
                    }
                });
        });
    </script>
}


