﻿@model SicoinInets.Models.typeFulfillment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class=" panel-heading">
		<div class=" container-fluid">
			<div class="row">
				<h4>Editar un rango de cumplimiento</h4>
				<a href="@Url.Action("Index","Fulfillment")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
			</div>
		</div>
	</div>
	@if (ViewBag.mesage != null)
	{
		<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
			@if (ViewBag.mesage.Dismissible)
			{
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			}
			<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
		</div>
	}

		<div class="panel-body">

			<div class="col-md-2"></div>
			<div class="col-md-8">
				@using (Html.BeginForm())
				{
					@Html.AntiForgeryToken()

					<div class="form-horizontal">
						
						<hr />
						@Html.ValidationSummary(true, "", new { @class = "text-danger" })
						<div class="form-group" hidden>
							@Html.LabelFor(model => model.idTimefulfil, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.idTimefulfil, new { htmlAttributes = new { @class = "form-control" } })
								@Html.ValidationMessageFor(model => model.idTimefulfil, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.sName, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.sName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
								@Html.ValidationMessageFor(model => model.sName, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							@Html.LabelFor(model => model.dayfinish, htmlAttributes: new { @class = "control-label col-md-2" })
							<div class="col-md-10">
								@Html.EditorFor(model => model.dayfinish, new { htmlAttributes = new { @class = "form-control", id = "dfinish" } })
								@Html.ValidationMessageFor(model => model.dayfinish, "", new { @class = "text-danger" })
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-2 col-md-10">
								<input type="submit" value="Guardar" class="btn btn-success" onclick="comparar()" />
							</div>
						</div>
					</div>
				}
			</div>
			</div>
		</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
	function comparar() {
		var textdf = $('#dfinish').val();

		if (textdf == null || textdf == 0) {
			alert("Error la fecha final no puede ser 0 ");
		}
	}
</script>
}
