﻿@model IEnumerable<SicoinInets.Models.typeFulfillment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<h4>Tipo de cumplimiento</h4>
		</div>
	</div>

	@if (ViewBag.mesage != null)
	{
		<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
			@if (ViewBag.mesage.Dismissible)
			{
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			}
			<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
		</div>
	}


		<div class="panel-body">
			<div class="table-responsive">
				<div class=" col-md-2"></div>

				<div class=" col-md-8">
					<table class=" table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th>
									@Html.DisplayNameFor(model => model.sName)
								</th>
								<th>
									@Html.DisplayNameFor(model => model.dayfinish)
								</th>

								<th>Opciones</th>
							</tr>
						</thead>

						<tbody>
							@foreach (var item in Model)
							{
								if (item.dayfinish > 0)
								{
									<tr>
										<td>
											@Html.DisplayFor(modelItem => item.sName)
										</td>
										<td>
											@Html.DisplayFor(modelItem => item.dayfinish)
										</td>
										<td>
											<a href="@Url.Action("Edit", "Fulfillment", new { idtype = item.idTimefulfil})" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
										</td>
									</tr>

								}
							}

						</tbody>
					</table>
				</div>
				
			</div>
			<div class="panel-footer">
				<h5><strong>Los tiempos de cumplimiento son los días que tiene para cumplir la tarea y deben cumplir el siguiente criterio</strong></h5>
				<h5><strong>* Sala de espera sea mayor que abordando</strong></h5>
				<h5><strong>* Abordando sea mayor que retrasado</strong></h5>
				<h5><strong>* Retrasado sea menor que abordando</strong></h5>
			</div>
		</div>
</div>
