﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Control interno</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/jquery-ui.css")


	@*<style>
			body {
				padding: 0;
				margin: 0;
			}
		</style>*@
</head>
<body>
    <div id="wrapper" class="in">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"> <i class="fa fa-cube" style=" color:#819cf5"></i> SICOIN</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="@Url.Action("Threefile","UrlsSets")"><i class="fa fa-sitemap"></i> Flujo de Procesos <span class="sr-only"></span></a></li>
						<li><a href="@Url.Action("Index","UrlsSets")"><i class="fa fa-folder"></i> Carpetas <span class="sr-only"></span></a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="fa fa-cog"></i> Mantenimiento <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="@Url.Action("Index","RolesSets")"><i class="fa fa-bullhorn"></i> Roles</a></li>
								<li><a href="@Url.Action("Index","ProfileSets")"><i class="fa fa-paperclip"></i> Perfiles</a></li>
								<li><a href="@Url.Action("Index","User")"><i class="fa fa-user"></i> Usuarios</a></li>
								<li><a href="@Url.Action("Index","Email")"><i class="glyphicon glyphicon glyphicon-envelope"></i> Servidor de correo</a></li>
								<li><a href="@Url.Action("Index","Fulfillment")"><i class="glyphicon glyphicon-time"></i> Rangos de cumplimiento</a></li>
							</ul>
						</li>
						<li><a href="@Url.Action("Monitor","Task")"><i class="fa fa-television"></i> Monitor <span class="sr-only"></span></a></li>
					</ul>
                    <ul>
                       
                        @if (Session["Id"] != null)
                        {
                        <li class="pull-right">
                            <h5>
                                <a href="@Url.Action("LogOut", "LogIn")" data-toggle="tooltip" data-placement="bottom" title="Cerrar sesión">
                                    @Session["Name"] <i class="fa fa-sign-out"></i>
                                </a>
                            </h5>
                        </li>
                        }
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("jsslocal", required: false)
    @RenderSection("htmllocal", required: false)
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @RenderSection("jsslocal", required: false)
        @RenderSection("htmllocal", required: false)*@


    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

