﻿
<style>
	img.load {
		clear: right;
		float: right;
		position: relative;
		right: 10%;
	}
</style>
<div id="loader" style="display:none;">
	<img src="~/Content/img/Spinner-1s-48px.gif" class="load" />
</div>

<div id="_notify" role="alert" style="display:none;">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<div id="errors"></div>
</div>