﻿<!-- Modal -->
<div id="modal_edit" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar rol</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" id="modalbodyrol">
                <p class="statusMsg"></p>
                <form role="form">
                    <input type="hidden" name="Id" />
                    <div class="form-group">
                        <label for="inputName">Nombre</label>
                        <input type="text" class="form-control" name="Name" required data-val="true" data-val-required="El campo nombre es obligatorio." />
                    </div>
                    <div class="form-group">
                        <label for="inputDesc">Descripción</label>
                        <textarea class="form-control" name="Description" required data-val="true" data-val-required="El campo descripción es obligatorio."></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar Usuario</h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body" id="mymodalbody">
                <p class="statusMsg"></p>
                <form role="form">
                    <input type="hidden" name="Id" />
                    <div class="form-group">
                        <label for="inputName">Nombre</label>
                        <input type="text" class="form-control" name="Name" required data-val="true" data-val-required="El campo nombre es obligatorio." />
                    </div>
                    <div class="form-group">
                        <label for="inputDesc">Descripción</label>
                        <textarea class="form-control" name="Description" required data-val="true" data-val-required="El campo descripción es obligatorio."></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="modal_editprof" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Editar perfil</h4>
            </div>
            <div class="modal-body" id="mybody">              
            </div>
        </div>
    </div>
</div>






