﻿
<div id="modal_confirmation" class="modal fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">
					<i class="glyphicon glyphicon-alert"></i>
				</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button id="aceptar" type="button" class="btn btn-success">Aceptar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal_reconfirmation" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<div class="col-xs-2" style="color:#f0ad4e;">
						<i class="fa fa-4x fa-warning"></i>
					</div>
					<div class="col-xs-9">
						<br />
						<div class=""><div></div></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button id="reaceptar" type="button" class="btn btn-warning">Aceptar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal_stamp" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<div class="col-xs-2" style="color:#33A5FF;">
						<i class="fa fa-4x fa-info-circle"></i>
					</div>
					<div class="col-xs-9">
						<br />
						<div class=""><div></div></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>

<div id="modal_stampnext" class="modal fade bs-example-modal-sm" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container-fluid">
					<div class="col-xs-2" style="color:#33A5FF;">
						<i class="fa fa-4x fa-info-circle"></i>
					</div>
					<div class="col-xs-9">
						<br />
						<div class=""><div>  </div></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
			</div>
		</div>
	</div>
</div>