﻿

<div class="panel panel-danger" id="_msns" style="display:none;">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="col-sm-9">¡Revisar!</div>
			<div class="col-sm-3" id="numerrors"></div>
		</div>

	</div>
	<div class="panel-body">
		<div class="container-fluid" id="_msn">
		</div>
	</div>
</div>