﻿@model SicoinInets.Models.Canceled


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Cancelar tarea</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

		<div class=" form-group" hidden>
			@Html.LabelFor(model => model.idTask, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class=" col-md-10">
				<input type="text" id="idTask" name="idTask" value="@ViewBag.task.Idtask" readonly class="form-control" />
			</div>
		</div>

		<div class=" form-group">
			@Html.LabelFor(model => model.idTask, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class=" col-md-10">
				<input type="text" id="" name="" value="@ViewBag.task.sNameTask" readonly class="form-control" />
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Observation, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Observation, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Observation, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Cancelar tarea" class="btn btn-success" />
			</div>
		</div>
	
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
