﻿@model SicoinInets.Models.task

@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class="row">
				<h4>Nueva tarea</h4>
				<a href="@Url.Action("Monitor","Task")" class="pull-right"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
			</div>
		</div>

	</div>

	@if (ViewBag.mesage != null)
	{
		<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
			@if (ViewBag.mesage.Dismissible)
			{
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			}
			<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
		</div>
	}

	<div class="panel-body">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()

			<div class="form-horizontal">

				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })

				<!--NOMBRE DE LA TAREA-->
				<div class="form-group">
					@Html.LabelFor(model => model.sNameTask, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						<input type="text" name="sNameTask" id="sNameTask" class=" form-control" oninvalid="setCustomValidity('Escriba el nombre de la tarea')" oninput="setCustomValidity('')" required />
					</div>
				</div>

				<!--DESCRIPCION DE LA TAREA-->
				<div class="form-group">
					@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						<input type="text" name="Description" id="Description" class=" form-control" oninvalid="setCustomValidity('Escriba una descripción de la tarea')" oninput="setCustomValidity('')" required />
					</div>
				</div>

				<!--USUARIO QUE REALIZARA LA TAREA-->
				<div class="form-group">
					@Html.LabelFor(model => model.idUserRespon, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						<select name="idUserRespon" id="idUserRespon" class="form-control" oninvalid="setCustomValidity('Seleccione un usuario')" oninput="setCustomValidity('')" required>
							<option value=""> Seleccione una opción</option>
							@foreach (var user in ViewBag.user)
							{
								<option value="@user.IdUser">
									@user.sName
								</option>
							}
						</select>
					</div>
				</div>

				<!--USUARIO QUE LO CREA-->
				<div class="form-group">
					@Html.LabelFor(model => model.idUser, htmlAttributes: new { @class = "control-label col-md-2" })

					<div hidden>
						<input type="text" name="idUser" id="idUser" value="@ViewBag.iduser" />
					</div>

					<div class="col-md-10">
						<select class="form-control" oninvalid="setCustomValidity('Seleccione un usuario')" oninput="setCustomValidity('')" disabled>
							@foreach (var user in ViewBag.userp)
							{
								if (user.IdUser == ViewBag.iduser)
								{
									<option value="@user.IdUser">
										@user.sName
									</option>
								}
							}
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Guardar" class="btn btn-success" />
					</div>
				</div>

			</div>
			}
		</div>
	</div>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">

		$(document).ready(function () {
			$('#Dateinitial').datepicker(
				{
					altFormat: "dd/mm/yy",
					closeText: 'Aceptar',
					appendText: "",
					buttonText: "",
					prevtext: '<Ant',
					nextText: 'Sig>',
					dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
					dayNamesShort: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
					dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
					monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
					monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
					changeMonth: true,
					changeYear: true,
					showButtonPanel: false,
					dateFormat: 'dd/mm/yy',
					minDate: '+0d'
				});
		});

		$(document).ready(function () {
			$('#Datefinish').datepicker(
				{
					altFormat: "dd/mm/yy",
					closeText: 'Aceptar',
					appendText: "",
					buttonText: "",
					prevtext: '<Ant',
					nextText: 'Sig>',
					currentText: 'Hoy',
					dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
					dayNamesShort: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
					dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
					monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
					monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
					changeMonth: true,
					changeYear: true,
					showButtonPanel: false,
					dateFormat: 'dd/mm/yy',
					minDate: '+0d',
				});
		});

	</script>

	<style>
		.ui-datepicker-calendar {
			display: inline;
		}
	</style>
}
