﻿@model SicoinInets.Models.task

@{
    ViewBag.Title = "detailcanceled";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=" panel panel-default">
	<div class="panel-heading">
		<h4> Detalles de cancelado</h4>
	</div>
	<div class="panel-body">
		<div class=" col-md-2"></div>

		<div class=" col-md-8">

			<div class="col-md-3">
				<b>@Html.DisplayNameFor(model => model.sNameTask)</b>
			</div>
			<div class=" col-md-9">
				@Html.DisplayFor(model => model.sNameTask)
			</div>


			<div class="col-md-3">
				<b>@Html.DisplayNameFor(model => model.idUser)</b>
			</div>
			<div class=" col-md-9">
				@Html.DisplayFor(model => model.UserSet.sName)
			</div>


			<div class="col-md-3">
				<b>@Html.DisplayNameFor(model => model.idUserRespon)</b>
			</div>
			<div class=" col-md-9">
				@Html.DisplayFor(model => model.UserSet1.sName)
			</div>


			<div class="col-md-3">
				<b>@Html.DisplayNameFor(model => model.typeFulfillment.sName)</b>
			</div>
			<div class=" col-md-9">
				@Html.DisplayFor(model => model.typeFulfillment.sName)
			</div>


			<div class="col-md-3">
				<b>@Html.DisplayNameFor(model => model.Description)</b>
			</div>
			<div class=" col-md-9">
				@Html.DisplayFor(model => model.Description)
			</div>


			<div class="col-md-3">
				<b>@Html.DisplayNameFor(model => model.DateEmision)</b>
			</div>
			<div class=" col-md-9">
				@Html.DisplayFor(model => model.DateEmision)
			</div>

			<div class="col-md-3">
				<b>Observación</b>
			</div>
			<div class="col-md-9">
				@ViewBag.cancel
			</div>
		</div>
	</div>
</div>
