﻿@model IEnumerable<SicoinInets.Models.task>

<div class=" col-md-12">
	<table class="table table-striped table-hover table-bordered">

		@if (ViewBag.range == 4)
		{
			<thead style="background-color: red; color: white">
				<tr>
					<th hidden>
						@Html.DisplayNameFor(model => model.Idtask)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.sNameTask)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Portal)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Priority)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.idUser)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.idUserRespon)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.dDelivery)
					</th>
					<th>Opciones</th>
				</tr>
			</thead>
		}
		else
		{
			<thead>
				<tr>
					<th hidden>
						@Html.DisplayNameFor(model => model.Idtask)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.sNameTask)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Portal)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Priority)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.idUser)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.idUserRespon)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.dDelivery)
					</th>
					<th>Opciones</th>
				</tr>
			</thead>

		}

		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Idtask)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.sNameTask)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Portal)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Priority)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UserSet.sName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UserSet1.sName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.dDelivery)
					</td>
					<td>
						@if (ViewBag.iduser == item.idUser && item.idTimefulfil == 1)
						{
							<a data-toggle="tooltip" title="Enterado de la tarea" href="@Url.Action("AceptTask","Task", new {idtask = item.Idtask})" class="Aceptar"> <i class="fa fa-check"></i></a>
						}
						@if (ViewBag.iduser == item.idUser && (item.idTimefulfil == 3 || item.idTimefulfil == 4 || item.idTimefulfil == 5))
						{
							<a data-toggle="tooltip" title="Enviar tarea" href="@Url.Action("pEnviar", "Task", new { idtask = item.Idtask })" class="Enviar" style="color: darkviolet"> <i class=" fa fa-paper-plane"> </i></a>
						}
						@if (ViewBag.iduser == item.idUserRespon && item.idTimefulfil == 6)
						{
							<a data-toggle="tooltip" title="Finaliza la tarea" href="@Url.Action("Finalitytask", "Task", new { idtask = item.Idtask })" style="color:gold"> <i class=" fa fa-trophy"> </i></a>
							<a data-toggle="tooltip" title="Rechazada" href="@Url.Action("IncompleteTask", "Task", new { idtask = item.Idtask })"> <i class=" fa fa-thumbs-o-down"> </i></a>
						}
						@if (ViewBag.iduser == item.idUserRespon && (item.idTimefulfil != 6 && item.idTimefulfil != 7 && item.idTimefulfil != 8))
						{
							<a data-toggle="tooltip" title="Cancelar tarea" onclick="vpcall3(@item.Idtask)" style="color:darkred"> <i class=" fa fa-close"> </i></a>
						}
						@if (item.idTimefulfil == 8)
						{
							<a data-toggle="tooltip" title="Detalle de tarea cancelada" href="@Url.Action("detailcanceled","Task", new {idtask = item.Idtask})"> <i class=" fa fa-tasks"> </i></a>
						}

					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<!-- MODAL PARA CANCELAR  -->
<div class="modal" tabindex="-1" role="dialog" id="modal2">
	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title">Informacíon de tarea</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div id="Canceledtask"></div>
			</div>

		</div>
	</div>
</div>

<script>
	$(".Enviar").click(function (event) {
		if (!confirm("¿Quiere finalizar la tarea?")) {
			event.preventDefault();
		}
	});

</script>

<script>
	$(".Aceptar").click(function (event) {
		if (!confirm("¿Aceptar esta tarea?")) {
			event.preventDefault();
		}
	});

</script>

<script>
	function vpcall2(vclic) {

		$("#modal1").modal("show");

		var vstatus = vclic;

		var dir = '@Url.Action("pEdit","Task")';
		$.ajax({
			cache: false,
			async: true,
			type: "GET",
			url: dir,
			data: { id: vstatus },
			success: function (response) {
				$('#pEdit').html('');
				$('#pEdit').html(response);
			}
		})
	}
	$('#partialview').load('Task/pEdit');
</script>

<script>
	function vpcall3(vclic) {

		$("#modal2").modal("show");

		var vstatus = vclic;

		var dir = '@Url.Action("Canceledtask", "Task")';
		$.ajax({
			cache: false,
			async: true,
			type: "GET",
			url: dir,
			data: { id: vstatus },
			success: function (response) {
				$('#Canceledtask').html('');
				$('#Canceledtask').html(response);
			}
		})
	}
	$('#partialview').load('Task/Canceledtask');
</script>

<script>
	function vpcall4(vclic) {

		$("#modal3").modal("show");

		var vstatus = vclic;

		var dir = '@Url.Action("EditDelayed", "Task")';
		$.ajax({
			cache: false,
			async: true,
			type: "GET",
			url: dir,
			data: { id: vstatus },
			success: function (response) {
				$('#EditDelayed').html('');
				$('#EditDelayed').html(response);
			}
		})
	}
	$('#partialview').load('Task/EditDelayed');
</script>
