﻿@model IEnumerable<SicoinInets.Models.task>

@{
}

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="container-fluid">
			<div class=" col-md-1"></div>
			<div class="col-md-11">
				<h4>Monitor de tareas</h4>
			</div>

			<div class=" col-md-1"></div>
			<div class="col-md-2">
				<a href="@Url.Action("Create", "Task")"><i class="fa fa-plus"></i> Nueva tarea</a>
			</div>
			<div class="col-md-2">
				<a href="@Url.Action("UploadTask", "Task")"><i class="fa fa-plus"></i> Carga de archivos</a>
			</div>

		</div>
	</div>
	<div class="panel-body">

		@if (ViewBag.mesage != null)
		{
			<div class="notify @ViewBag.mesage.Type @if (ViewBag.mesage.Dismissible)
                    {
                        @Html.Raw("alert-dismissible") } " role="alert">
				@if (ViewBag.mesage.Dismissible)
				{
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				}
				<strong>@ViewBag.mesage.Title</strong> @ViewBag.mesage.Description
			</div>
		}
			<center>
				<div class="btn-group btn-group-lg"  role="group">
					<!--Numero 1-->
					<button type="button" class="btn btn-info" onclick="vpcall('1');">
						<i class="fa fa-hand-lizard-o"></i> Buzon de Tareas (@ViewBag.counts)
					</button>
					<!--Numero 2-->
					<button type="button" class="btn btn-success" onclick="vpcall('2');">
						<i class="fa fa-hand-grab-o"></i> Sala de espera (@ViewBag.counts2)
					</button>
					<!--Numero 3-->
					<button type="button" class="btn btn-warning" onclick="vpcall('3');">
					<i class="fa fa-hand-o-right"></i> Abordando (@ViewBag.counts3)
					</button>
					<!--Numero 4-->
					<button type="button" class="btn btn-danger" onclick="vpcall('4');">
						<i class="fa fa-hand-o-down"></i> Retrasado (@ViewBag.counts4)
					</button>
					<!--Numero 5-->
					<button type="button" class="btn btn-primary" onclick="vpcall('5');">
						<i class="fa fa-hand-o-up"></i> Enviado (@ViewBag.counts5)
					</button>
					<!--Numero 6-->
					<button type="button" class="btn btn-success" onclick="vpcall('6');">
						<i class="fa fa-thumbs-o-up"></i> Verificado (@ViewBag.counts6)
					</button>
					<!--Numero 7-->
					<button type="button" class="btn btn-danger" onclick="vpcall('7')">
						<i class="fa fa-hand-scissors-o"></i> Cancelado (@ViewBag.counts7)
					</button>
				</div>
			</center>

		<div class=" col-md-12">
			<br />
		</div>

		<div id="lstatus">
		</div>
	</div>

</div>

@section scripts{
	<script>
		$(".Deleter").click(function (event) {
			if (!confirm("¿Está seguro que quiere eliminar?")) {
				event.preventDefault();
			}
		});
	</script>

	<script type="text/javascript">
		function vpcall(vclick) {

			var vstatus = vclick;
			var dir = '@Url.Action("Lstatus","Task")';
			
			$.ajax({
				cache: false,
				async: true,
				type: "GET",
				url: dir,
				data: { id: @ViewBag.iduser, range: vstatus },
				success: function (response) {
					$('#lstatus').html('');
					$('#lstatus').html(response);
				}
			})
		}
		$('#partialview').load('Task/lstatus');
	</script>
}