﻿@model SicoinInets.Models.task


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Editar tarea</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<!--ID DE LA TAREA-->
	<div class="form-group" hidden>
		@Html.LabelFor(model => model.Idtask, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-8">
			<input type="text" name="Idtask" id="Idtask" value="@Model.Idtask" class="form-control" readonly />
		</div>
	</div>

	<!--NOMBRE DE LA TAREA-->
	<div class="form-group">
		@Html.LabelFor(model => model.sNameTask, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-8">
			<input type="text" name="sNameTask" id="sNameTask" value="@Model.sNameTask" class="form-control" readonly />
		</div>
	</div>

	<!--DESCRIPCION-->
	<div class="form-group">
		@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-8">
			<input type="text" multiple="multiple" name="Description" id="Description" value="@Model.Description" class="form-control" readonly />
		</div>
	</div>

	<!--ID DEL USUARIO-->
	<div class="form-group">
		@Html.LabelFor(model => model.idUser, htmlAttributes: new { @class = "control-label col-md-2" })
		<div hidden>
			<input type="text" name="idUser" id="idUser" value="@Model.idUser" class="form-control" hidden />
		</div>
		<div class="col-md-8">
			<select class="form-control" oninvalid="setCustomValidity('Seleccione un usuario')" oninput="setCustomValidity('')" disabled>
				@foreach (var user in ViewBag.user)
				{
					if (user.IdUser == Model.idUser)
					{
						<option value="@user.IdUser">
							@user.sName
						</option>
					}
				}
			</select>
		</div>

	</div>

	<!--ID DEL USUARIO RESPONSABLE-->
	<div class="form-group">
		@Html.LabelFor(model => model.idUserRespon, htmlAttributes: new { @class = "control-label col-md-2" })
		<div hidden>
			<input type="text" name="idUserRespon" id="idUserRespon" value="@Model.idUserRespon" class="form-control" hidden />
		</div>
		<div class="col-md-8">
			<select class="form-control" oninvalid="setCustomValidity('Seleccione un responsable')" oninput="setCustomValidity('')" disabled>
				@foreach (var userp in ViewBag.userp)
				{
					if (userp.IdUser == Model.idUserRespon)
					{
						<option value="@userp.IdUser">
							@userp.sName
						</option>
					}
				}
			</select>
		</div>
	</div>

	<!--STATUS DE ENVIO-->
	<div class="form-group">
		@Html.LabelFor(model => model.StatusSend, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-8">
			<select name="StatusSend" id="StatusSend" class="form-control" oninvalid="setCustomValidity('Seleccione un estado de envio')" oninput="setCustomValidity('')" required>
				@if (Model.StatusSend != null)
				{
					<option value="@Model.StatusSend"> @Model.StatusSend</option>
				}
				<option value=""> Seleccione una opción</option>
				<option value="Enviado">Enviado</option>
				<option value="No enviado">No enviado</option>
			</select>
		</div>
	</div>

	<!--PRIORITY-->
	<div class="form-group">
		@Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-8">
			<input type="text" name="Priority" id="Priority" value="@Model.Priority" class="form-control" readonly />
		</div>
	</div>

	<!-- OBSERVACIONES-->
	<div class="form-group">
		@Html.LabelFor(model => model.Observation, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-8">
			<input type="text" name="Observation" id="Observation" value="@Model.Observation" multiple="multiple" class="form-control" oninvalid="setCustomValidity('Escriba una observacion sobre la tarea')" oninput="setCustomValidity('')" required />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-6">
			<input type="submit" value="Guardar" class="btn btn-success" />
		</div>
	</div>
</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")


}



<script type="text/javascript">

	$(document).ready(function () {
		$('#Dateinitial').datepicker(
			{				
				altFormat: "dd/mm/yy",
				closeText: 'Aceptar',
				appendText: "",
				buttonText: "",
				prevtext: '<Ant',
				nextText: 'Sig>',
				dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
				dayNamesShort: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
				dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
				changeMonth: true,
				changeYear: true,
				showButtonPanel: false,
				dateFormat: 'dd/mm/yy',
				minDate: '+0d'
			});
	});

	$(document).ready(function () {
		$('#Datefinish').datepicker(
			{
				altFormat: "dd/mm/yy",
				closeText: 'Aceptar',
				appendText: "",
				buttonText: "",
				prevtext: '<Ant',
				nextText: 'Sig>',
				currentText: 'Hoy',
				dayNames: ['Domingo','Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
				dayNamesShort: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
				dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'],
				monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
				monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
				changeMonth: true,
				changeYear: true,
				showButtonPanel: false,
				dateFormat: 'dd/mm/yy',
				minDate: '+0d',
			});
	});

</script>

<style>
	.ui-datepicker-calendar {
		display:inline;
	}
</style>