﻿@model SicoinInets.Models.task

@{
	ViewBag.Title = "UploadTask";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_LoadAnswer")

<div class="panel panel-default">
	<div class="panel-heading"></div>

	<div class="panel-body">
		@using (Html.BeginForm("UploadFile", "Task", FormMethod.Post, new { enctype = "multipart/form-data", id = "Form" }))
		{
			<div class=" col-md-2"></div>

			<div class=" col-md-6">
				<label class="control-label col-sm-3">Seleccionar archivo</label>
				<div class=" col-md-9">
					<input type="file" id="archivo" name="archivo" class="form-control" required />
				</div>
			</div>

			<div class="col-sm-12">
				<button type="submit" class="btn btn-success pull-right">Guardar <i class="glyphicon glyphicon-ok"></i></button>
			</div>
		}
	</div>

</div>

@Html.Partial("_ShowErroresLoadFile")
@Html.Partial("_OverWriteLoadData")


@section scripts{
	@Scripts.Render("~/bundles/jqueryval")

	<script>
		$(function () {
			$("#Form").on("submit", function (e) {
				e.preventDefault();
				$("#modal_reconfirmation").modal("hide"); // hide modal

				var $form = $("#Form");
				var notice = new Notice();
				var boton = new Boton();
				var data = new FormData();
				var files = $("#archivo").get(0).files;
				var nameimage = files[0].name;

				if (CheckextensionFile(files) == -1) {
					notice.showNotify("alert alert-danger", `<strong>¡Alerta!</strong> Se aceptan archivos con extensión .xlsx ó .xls`);
					return 0;
				}
				else {
					$("#_notify").hide();
				}
				data.append(nameimage, files[0]);
				var url = "/Task/UploadFile";
				SaveAjaxLoadDataFile(url, data);
				$("#Form").trigger('reset');


			});
		});
	</script>
}
<style>
	label.error {
		color: #A52A2A;
		font-weight: normal;
	}
</style>
